{% extends 'music/base.html' %}

{% block title %}Album Deatils{% endblock %}
{% block albums_active %}active{% endblock %}

{% block body %}
    <img src="{{ album.album_logo }}">

    <h1>{{ album.album_title }}</h1>
    <h2>{{ album.artist }}</h2>

        {% for song in album.song_set.all %}
                {{ song.song_title }}
                {% if song.is_favorite %}
                    <img src="http://icons.iconseeker.com/png/16/developpers/star-7.png" />
                {% endif %}
            <br>
        {% endfor %}
{% endblock %}
